<div class="alert alert-danger" *ngIf="message">{{ message }}</div>
<div class="card">
    <div class="card-header">
        <div><h5 class="card-title">Registration</h5></div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" 
                [(ngModel)]="user.firstname" name="firstname" placeholder="First Name">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" 
                [(ngModel)]="user.lastname" name="lastname" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" 
                [(ngModel)]="user.email" name="email" placeholder="Email Address">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" 
                [(ngModel)]="user.password" name="password">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="doSave()">Register Me</button>
        </div>
    </div>
</div>