<div class="card" *ngIf="product">
    <img [src]="product.photo" class="card-img-top"/>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <h6 [class.lessquantity]="product.quantity < 20">
            Quantity: {{ product.quantity }}</h6>
        <h6 [style.color]="(product.price < 1000) ? 'green' : (product.price < 2000) ? 'blue' : 'red'">
            Price: {{ product.price | currency:"RM" }}</h6>
        <!--
        <button class="btn btn-primary" [disabled]="product.quantity < 20" 
            *ngIf="product.quantity >= 20">Add to Cart</button>
        -->
        <input type="text" name="requiredQuantity" #requiredQuantity 
            size="3" maxlength="3"/>&nbsp;
        <button class="btn btn-primary" [disabled]="product.quantity < 20"
            (click)="addToCart(product, requiredQuantity)">
            Add to Cart</button>
    </div>            
</div>
